*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
.navbar{
    background-color: beige !important;
}
.navbar a{
    color: black !important;
}
.form-control:focus {
    box-shadow: none !important;
}
textarea {
    resize: none;
}
.box{
    border: 1px solid black;
    width: 100px;
    min-height: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8,12.50%);
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.grid-box{
    background-color: bisque;
    border: 1px solid black;
}
.details{
    cursor: pointer;
}